<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/destyle.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <nav class="gnav" :class="{show:isGnav}">
            <ul class="wrapper">
                <li><a href="https://jo1.jp/" target="_blank">JO1</a></li>
                <li><a href="https://twitter.com/official_JO1" target="_blank">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCsmXiDP8S40uBeJYxvyulmA" target="_blank">Youtube</a></li>
            </ul>
            <!-- <div class="close" @click="toggleGnav()"></div> -->
        </nav>
        <button class="toggle" @click="toggleGnav()">
            <p class="toggle-text" v-if="isGnav">✕</p>
            <p class="toggle-text" v-else>MENU</p>
        </button>
        <div id="test">
            <main>
                <section>
                    <div class="fade-gallery">
                        <div class="img" :class="{show:isShowImg(item)}" v-for="(item,i) in image" :style="bg(item)">
                        </div>
                    </div>
                    <div class="entryBox">
                        <div class="entryBox-step"><p><span>STEP</span><br>1</p></div>
                        <dl>
                            <dt>エントリー</dt>
                            <dd>エントリー期間です。エントリーしてください。<br>
                                もう抑えられない　十分なんだもう　堂々巡り部屋の隅蹲っていた</dd>
                        </dl>
                    </div>
                    <div class="entryBox">
                        <div class="entryBox-step"><p><span>STEP</span><br>2</p></div>
                        <dl>
                            <dt>エントリー</dt>
                            <dd>エントリー期間です。エントリーしてください。<br>
                                もう抑えられない　十分なんだもう　堂々巡り部屋の隅蹲っていた</dd>
                        </dl>
                    </div>
                    <div class="entryBox">
                        <div class="entryBox-step"><p><span>STEP</span><br>3</p></div>
                        <dl>
                            <dt>エントリー</dt>
                            <dd>エントリー期間です。エントリーしてください。<br>
                                もう抑えられない　十分なんだもう　堂々巡り部屋の隅蹲っていた</dd>
                        </dl>
                    </div>
    
                </section>
                <div class="container-winner gold">
                    <div class="rank"><span>優勝</span></div>
                    <img src="./assets/05.png">
                </div>
                <div class="container-winner silver">
                    <div class="rank"><span>準優勝</span></div>
                    <img src="./assets/05.png">
                </div>
                <div class="nameBox">
                    <div><span class="name">與那城奨</span></div>
                </div>
            </main>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>